<?xml version="1.0"?>
<launch>

    <!-- Gamepad driver 
	<node pkg="joy" type="joy_node" name="joy">
		<param name="dev" value="/dev/input/js0"/>
		<param name="autorepeat_rate" value="20"/>
	</node>-->
    
    <!-- Frame bringup -->
    <include file="$(find sdr_frame)/launch/robot_description.launch"/>
    
    <!-- Joy teleop 
    <include file="$(find sdr_control)/launch/joy_teleop.launch"/>-->
    
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    
    <!-- Control bringup 
    <node pkg="panther_gazebo" type= "robosim_driver_node" name="robosim_driver"/>-->

    <!-- Odom Launch -->
    <include file="$(find panther_navigation)/launch/odometry.launch"/>
    
    <!-- Slam Launch -->
    <include file="$(find panther_navigation)/launch/gmapping.launch"/>
    
    <!-- Nav Launch -->
    <include file="$(find panther_navigation)/launch/navigation.launch"/>

    <!-- RViz Launch -->
    <node pkg="rviz" type= "rviz" name="rviz" args="-d $(find sdr_launch)/config/rviz_default.rviz" />
    
    <!-- Gazebo Launch -->
    <include file="$(find panther_gazebo)/launch/panther_sim.launch"/>
    
    <!-- Teleop node launch -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" />
</launch>
