<?xml version="1.0"?>
<launch>

    <!-- Gamepad driver -->
	<node pkg="joy" type="joy_node" name="joy">
		<param name="dev" value="/dev/input/js0"/>
		<param name="autorepeat_rate" value="20"/>
	</node>
    <!-- Frame bringup -->
    <include file="$(find sdr_frame)/launch/robot_description.launch"/>
    <!-- node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" / -->
    <!-- Joy teleop -->
    <include file="$(find sdr_control)/launch/joy_teleop.launch"/>
    <!-- Control bringup -->
    <include file="$(find sdr_control)/launch/roboclaw_driver.launch"/>
    
    <!-- Lidar -->
    <include file="$(find lidar)/lidar_launch/laser.launch"/>

    <!-- Odom Launch -->
    <include file="$(find panther_navigation)/launch/odometry.launch"/>
    
    <!-- EKF Localization Launch -->
    <include file="$(find panther_navigation)/launch/ekf_localization.launch"/>
    
    <!-- Slam Launch -->
    <include file="$(find panther_navigation)/launch/gmapping.launch"/>
    
    <!-- Nav Launch 
    <include file="$(find panther_navigation)/launch/navigation.launch"/-->
    
    <!-- SMACH Launch -->
    <include file="$(find panther_smach)/launch/smach_plan.launch"/>

    <!-- RViz Launch -->
    <!--node pkg="rviz" type= "rviz" name="rviz" args="-d $(find sdr_launch)/config/rviz_default.rviz" /-->
    <!--include file="$(find panther_visuals)/launch/rviz.launch"/-->
    
    
    
</launch>
