<?xml version="1.0"?>

<launch>

  <arg name="map_file" value="/home/daniel/panther_ws/src/map_server/map/SimMap.yaml" ></arg>
  <node pkg="map_server" type="map_server" name="map_server_load" args="$(arg map_file)" />

  <node name="amcl"
    pkg="amcl"
    type="amcl"
    clear_params="true">
    <rosparam command="load" file="$(find panther_navigation)/config/amcl.yaml" />
  </node>

</launch>