<?xml version="1.0"?>
<launch>
  <!-- ekf node -->
  <arg name="three_d" default="false" />
  <node
    pkg="robot_localization"
    type="ekf_localization_node"
    name="ekf_localization_node"
    clear_params="true">
    <rosparam unless="$(arg three_d)"
      command="load"
      file="$(find panther_navigation)/config/ekf_localization_node/ekf_2d.yaml" />
    <rosparam if="$(arg three_d)"
      command="load"
      file="$(find panther_navigation)/config/ekf_localization_node/ekf_3d.yaml" />
  </node>

  <node pkg="panther_navigation" type="quaternion-to-euler.py" name="quaternion_to_euler" />

</launch>
