<?xml version="1.0"?>
<launch>
  <arg name="three_d" default="false" />

  <node if="$(arg three_d)"
    name="imu_filter_node"
    pkg="imu_filter_madgwick"
    type="imu_filter_node">
    <rosparam command="load"
      file="$(find panther_navigation)/config/imu_filter_node.yaml" />
  </node>

    <rosparam command="load" file="$(find witmotion_ros)/config/config.yml" />
    <node name="witmotion_imu" pkg="witmotion_ros"  type="witmotion_ros_node" output="screen"/>

  
</launch>
