<?xml version="1.0"?>

<launch>
  <!-- Arguements -->
  <!--arg name="world" default="$(find panther_gazebo)/worlds/cask.world"/-->

  <env name="GAZEBO_MODEL_PATH" value="$(find panther_gazebo)models"/>
  <!-- cask launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find panther_gazebo)/worlds/cask.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <!-- Find URDF -->
  <param name="robot_description" textfile="$(find panther_description)/urdf/hk1500.urdf"/>

  <!-- Spawn panther into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model panther -x -12" />
</launch>
