<?xml version="1.0"?>

<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!--arg name="world_name" values="$(find panther_gazebo)/worlds/blocks"/-->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
    <arg name="verbose" value="true"/>
  </include>

  <!-- Find URDF -->
  <param name="robot_description" textfile="$(find panther_description)/urdf/hk1500.urdf"/>

  <!-- Spawn panther into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -param robot_description -model panther"/>
</launch>
